<?xml version="1.0"?>

<model>
  <name>TurtleBot3_Burger_AMR</name>
  <version>2.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Azeez Adebayo</name>
    <email>azeez.adebayo@example.com</email>
  </author>

  <description>
    VIRO Autonomous Mobile Robot (AMR / Turtlebot3 Burger)
  </description>
</model>
