<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="cobot_arm">

   <!-- System parameters -->
   <xacro:arg name="use_fake_hardware" default="false" />
   <xacro:arg name="sim_gazebo" default="false" />
   <xacro:arg name="use_soem" default="false" />
   <xacro:arg name="use_modular_hardware" default="false" />
   <xacro:arg name="initial_mode_of_operation" default="8" />
   <xacro:include filename="$(find cobot_description)/urdf/cobot_arm.xacro"/>
   <xacro:include filename="$(find cobot_description)/urdf/cobot_transmissions.xacro"/>
   <xacro:include filename="$(find cobot_description)/urdf/cobot_ros2_control.xacro"/>
   <xacro:include filename="$(find cobot_description)/urdf/gripper.xacro"/>

   <!-- Depth Camera frames (Weightless & Offset from Flange) -->
   <link name="camera_mount_link">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <geometry>
            <box size="0.02 0.02 0.02"/>
         </geometry>
         <material name="blue"/>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <geometry>
            <box size="0.02 0.02 0.02"/>
         </geometry>
      </collision>
      <inertial>
         <mass value="0.001"/>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
      </inertial>
   </link>

   <joint name="camera_mount_joint" type="fixed">
      <parent link="link_6"/>
      <child link="camera_mount_link"/>
      <origin xyz="0.0 0.05 0.05" rpy="0 0 3.14159"/>
   </joint>

   <!-- Optical frame for vision sensors -->
   <link name="kinect_camera_optical"/>
   <joint name="camera_optical_joint" type="fixed">
      <parent link="camera_mount_link"/>
      <child link="kinect_camera_optical"/>
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
   </joint>

   <link name="world"/>
   <joint name="world_fixed_joint" type="fixed">
      <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
      <parent link="world" />
      <child link="base_link" />
   </joint>

   <xacro:cobot/>
   <xacro:cobot_gripper parent="link_6"/>
   <xacro:cobot_transmissions/>
   <xacro:cobot_ros2_control
      use_fake_hardware="$(arg use_fake_hardware)"
      sim_gazebo="$(arg sim_gazebo)"
      use_soem="$(arg use_soem)"
      use_modular_hardware="$(arg use_modular_hardware)"
      initial_mode_of_operation="$(arg initial_mode_of_operation)" />

</robot>
